
<div  ng-controller="IndexController">
    <div class="container">
        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Our Lipsmacking Culinary Creations</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <div ng-if="!showCreation">
                <h3>{{message}}</3>
              </div>
              <div class="media" ng-if="showCreation">
                <div class="media-left">
                  <a ui-sref="app.dishdetails({id: creation.id})">
                    <img class="media-object" ng-src={{creation.image}} alt="creation">
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="media-heading">{{creation.name}}
                    <span class="label label-danger label-xs">{{creation.label}}</span>
                    <span class="badge">{{promotion.price | currency}}</span>
                  </h2>
                  <p>{{creation.description}}</p>
                </div>
              </div>
            </div>
        </div>


        <div class="row row-content">
            <div class="col-xs-12 col-sm-3">
                <p style="padding:20px;"></p>
                <h3 align=center>This Month's Promotions</h3>
            </div>
            <div class="col-xs-12 col-sm-9">
              <div class="media">
                <div class="media-body">
                  <h2 class="media-heading">{{promotion.name}}
                    <span class="label label-danger label-xs">{{promotion.label}}</span>
                    <span class="badge">{{promotion.price | currency}}</span>
                  </h2>
                  <p>{{promotion.description}}</p>
                </div>
                <div class="media-right">
                  <a ui-sref="app.dishdetails({id: promotion._id})">
                    <img class="media-object" ng-src={{promotion.image}} alt="promotion">
                  </a>
                </div>

              </div>
            </div>
        </div>

        <div class="row row-content">
            <div class="col-xs-12 col-sm-3 col-sm-push-9">
                <p style="padding:20px;"></p>
                <h3 align=center>Meet our Culinary Specialists</h3>
            </div>
            <div class="col-xs-12 col-sm-9 col-sm-pull-3">
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" ng-src={{chef.image}} alt="creation">
                  </a>
                </div>
                <div class="media-body">
                  <h2 class="media-heading">{{chef.name}}
                    <small>{{chef.designation}}</small>
                  </h2>
                  <p>{{chef.description}}</p>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>
